<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content = "width=device-width,initial-scale=1"/>
    <!--latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<!--You can add fonts to your website to make it more attractive.  Use google fonts by referencing the css on the Google Fonts APIs CDN -->
    <link href ="https://fonts.googleapis.com/css?family=Shrikhand" rel ="stylesheet">
    <!-- This is the embedded stylesheet.  It contains css that alters the default
    styles in the navbar-inverse class, and also adds classes such as shrikhand and
    standardimage-->
    <link rel ="stylesheet" href ="css/style.css">

</head>
<body>
<nav class="navbar navbar-inverse">
   <div class ="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand">Application Name</a>
       </div>
       <ul class="nav navbar-nav">
           <li><a>Link Two</a></li>
           <li><a>Link One</a></li>
           <li><a>Link Three</a></li>
       </ul>
   </div>

</nav>

<div class="container">
    <div class="col-md-12">
        <h1 class="shrikhand">Crabby Page</h1>
        <div class="col-md-12"><h3 class="shrikhand">Shrikhand h2</h3></div>

    <div class="col-md-8">

    </div>
    </div>

    <div class="row"><!--Use this class to force items on the same row. Remember it's a
    12 column grid!-->
        <div class="col-md-12">
            <!--When designing your page, always let your components 'breathe'.  Add as much space
            as possible around them without leaving gaping holes.  Lines are nice to define sections sometimes, but don't overdo it with linitis!!-->
        <img class="standardimage img-thumbnail" src="https://static.pexels.com/photos/39803/pexels-photo-39803.jpeg" align="left" alt="Apple"/>
        <p>
            This column has space for a lot of text.  I want to make sure that everything is on the same row, even if the text is so much that it overflows.
            This is a good time to talk about Lorem Ipsum, and why you should use it.  It can help you test for things
            so you don't have to type as much as I have already.  I used <a href="http://www.loremipsumgenerator.com">this lorem ipsum text generator</a>.
        </p>
            <p>
                This is the beginning of a new paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus turpis massa tincidunt dui
                ut ornare lectus sit amet. Amet cursus sit amet dictum sit amet justo donec. Ultrices gravida dictum fusce ut. Aenean euismod elementum nisi quis eleifend quam. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Felis eget nunc lobortis mattis. Eu turpis egestas pretium aenean pharetra. Commodo viverra maecenas accumsan lacus. Eget nunc lobortis
                mattis aliquam faucibus purus in massa tempor. Libero justo laoreet sit amet cursus sit amet.
            </p>
        </div>
<div class="col-md-6"><!--I usually use col-md as it fits well on most devices.  Use what is appropriate for the device you are working on!See more details here:  https://getbootstrap.com/docs/3.3/css-->
<blockquote>
    This is a quotation about lorem ipsum...<cite>Wikipedia</cite>
</blockquote>
    <p>This column has space for a lot of text.  I want to make sure that everything is on the same row, even if the text is so much that it overflows.
        This is a good time to talk about Lorem Ipsum, and why you should use it.  It can help you test for things
        so you don't have to type as much as I have already.  I used <a href="http://www.loremipsumgenerator.com">this lorem ipsum text generator</a>.</p>
    <p>This is the beginning of a new paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus turpis massa tincidunt dui
        ut ornare lectus sit amet. Amet cursus sit amet dictum sit amet justo donec. Ultrices gravida dictum fusce ut. Aenean euismod elementum nisi quis eleifend quam. Pharetra sit amet aliquam id diam maecenas ultricies mi eget. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Felis eget nunc lobortis mattis. Eu turpis egestas pretium aenean pharetra. Commodo viverra maecenas accumsan lacus. Eget nunc lobortis
        mattis aliquam faucibus purus in massa tempor. Libero justo laoreet sit amet cursus sit amet.</p>
</div>
    </div>

</div>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>