<!DOCTYPE html>
<!-- This is the comment section. It is a
multiline comment section about my first HTML application.
This allows me to enter a lot of text here.
But just because I can...it doesn't mean I should.-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<h1>Name</h1>
<span>Joyce</span>
<h2>Computer #</h2>
<span> 7</span>
<h3>Where you live</h3>
<span>Rockville</span>
<h4> Favorite movie</h4>
<span>The Matrix</span>
<h5>Favorite quote</h5>
<span>The best revenge is massive success</span>
<h6>Anything else</h6>
<div><img src="https://c1.staticflickr.com/1/59/212833788_37b037de12_b.jpg"/></div>

<a target="_blank" href="http://www.montgomerycollege.edu">This is a link to the MC page</a>
<ul>
    <li>This is an unordered list item</li>
    <li>This is another unordered list item</li>
    <li>This is yet another unordered list item</li>
    <li>This is an unordered list item again</li>
</ul>

<ol>
    <li>This is an unordered list item</li>
    <li>This is another unordered list item</li>
    <li>This is yet another unordered list item</li>
    <li>This is an unordered list item again</li>
</ol>


</body>

</html>